.primary-sidebar {
  width: 250px;
  background-color: var(--code-block-bg-dark); /* Using code-block-bg-dark for consistency */
  height: 100vh;
  position: fixed;
  left: 50px; /* Right next to Activity Bar */
  top: 0;
  padding-top: 30px; /* To align with Command Palette */
  z-index: 1000;
  border-right: 1px solid var(--code-block-border-dark);
  transition: background-color 0.3s ease, border-color 0.3s ease;

  .sidebar-item {
    color: var(--text-color-dark);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    transition: background-color 0.2s ease, color 0.2s ease;

    svg {
      margin-right: 10px;
      font-size: 1.3em;
    }

    .sidebar-item-label {
      flex-grow: 1;
    }

    &:hover,
    &.active {
      background-color: var(--code-block-border-dark);
      color: #ffffff; /* Use pure white for active link for better contrast */
    }
  }
}

body[data-theme='light'] {
  .primary-sidebar {
    background-color: var(--code-block-bg-light);
    border-right-color: var(--code-block-border-light);

    .sidebar-item {
      color: var(--text-color-light);

      &:hover,
      &.active {
        background-color: var(--code-block-border-light);
        color: #000000; /* Use pure black for active link in light mode */
      }
    }
  }
}
