.main-layout {
  display: flex;
  height: 100vh;
}

.main-content-container {
  margin-left: 300px; /* ActivityBar + PrimarySideBar */
  flex-grow: 1;
  position: relative;
  height: 100%; /* Ensure container has full height */
}

.main-content-inner {
  padding-top: 35px; /* For TopTabsBar */
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height of its parent */
  overflow-y: auto; /* Enable scrolling for the content area */
}

@media (max-width: 768px) {
  .primary-sidebar {
    display: none; /* Hide PrimarySideBar on mobile */
  }

  .main-content-container {
    margin-left: 50px; /* Only ActivityBar is visible */
  }

  .top-tabs-bar {
    width: calc(100% - 50px);
    left: 50px;
  }
}
