.main-layout {
  display: flex;
  height: 100vh;
}

.main-content-container {
  margin-left: calc(var(--activity-bar-width) + var(--primary-sidebar-width)); /* ActivityBar + PrimarySideBar */
  flex-grow: 1;
  position: relative;
  height: 100%; /* Ensure container has full height */
  overflow-y: auto; /* Enable scrolling for the container */
}

.main-content-inner {
  padding-top: 65px; /* For CommandPalette + TopTabsBar */
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 65px); /* Full height minus top padding */
}

@media (max-width: 768px) {
  .primary-sidebar {
    display: none; /* Hide PrimarySideBar on mobile */
  }

  .main-content-container {
    margin-left: var(--activity-bar-width); /* Only ActivityBar is visible */
  }

  .top-tabs-bar {
    width: calc(100% - var(--activity-bar-width));
    left: var(--activity-bar-width);
  }
}
